################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Patterns/v15
/ConsoleApp/.vs/Patterns/v15
